<template name="aside">

    <aside class="bg-black aside-sm nav-vertical " id="nav">
        <section class="vbox">
            <header class="bg-danger dker nav-bar">
                <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
                    <i class="fa fa-bars"></i>
                </a>
                <a href="#" class="nav-brand" data-toggle="fullscreen">kvazar</a>
                <a class="btn btn-link visible-xs" data-toggle="class:show" data-target=".nav-user">
                    <i class="fa fa-comment-o"></i>
                </a>
            </header>
            <section>
                <!-- user -->
                <div class="lt nav-user hidden-xs pos-rlt">
                    <div class="nav-avatar pos-rlt">
                        <a href="#" class="thumb-sm avatar animated rollIn" data-toggle="dropdown">
                            <img src="{{userAvatar}}" alt="" class="">
                            <span class="caret caret-white"></span>
                        </a>
                        <ul class="dropdown-menu m-t-sm animated fadeInLeft">
                            <span class="arrow top"></span>

                            <li>
                                <a href="/profile">Profile</a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="badge bg-danger pull-right">3</span>
                                    Notifications
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="/docs">Help</a>
                            </li>
                            <li>
                                <a class="logout" href="#">Logout</a>
                            </li>
                        </ul>
                        <div class="visible-xs m-t m-b">
                            <a href="#" class="h3">John.Smith</a>

                            <p><i class="fa fa-map-marker"></i> London, UK</p>
                        </div>
                    </div>
                    <div class="nav-msg">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <b class="badge badge-white count-n">2</b>
                        </a>
                        <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                            <div class="arrow left"></div>
                            <section class="panel bg-white">
                                <header class="panel-heading">
                                    <strong>You have <span class="count-n">2</span> notifications</strong>
                                </header>
                                <div class="list-group">
                                    <a href="#" class="media list-group-item">
                      <span class="pull-left thumb-sm">
                        <img src="images/avatar.jpg" alt="John said" class="img-circle">
                      </span>
                      <span class="media-body block m-b-none">
                        Use awesome animate.css<br>
                        <small class="text-muted">28 Aug 13</small>
                      </span>
                                    </a>
                                    <a href="#" class="media list-group-item">
                      <span class="media-body block m-b-none">
                        1.0 initial released<br>
                        <small class="text-muted">27 Aug 13</small>
                      </span>
                                    </a>
                                </div>
                                <footer class="panel-footer text-sm">
                                    <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                                    <a href="#">See all the notifications</a>
                                </footer>
                            </section>
                        </section>
                    </div>
                </div>
                <!-- / user -->
                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    <ul class="nav">
                        <li class="{{activeRouteClass 'home' 'dashboard'}}">
                            <a href="/">
                                <i class="fa fa-tachometer"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        <li class="{{activeRouteClass 'myWork'}}">
                            <a href="/myWork">
                                <i class="fa fa-clock-o "></i>
                                <span>My Work</span>
                            </a>
                        </li>
                        <li class="{{activeRouteClass 'focus'}}">
                            <a href="/focus">
                                <i class="fa fa-eye"></i>
                                <span>Focus</span>
                            </a>
                        </li>

                        <li class="{{activeRouteClass  'tracker'}}">
                            <a href="/tracker">
                                <i class="fa fa-tasks"></i>
                                <span>Backlog</span>
                            </a>
                        </li>

                        <li class="{{activeRouteClass  'roadmap'}}">
                            <a href="/roadmap">
                                <i class="fa fa-calendar"></i>
                                <span>Roadmap</span>
                            </a>
                        </li>


                        <li class="{{activeRouteClass  'reports'}}">
                            <a href="/reports">
                                <i class="fa fa-bar-chart-o"></i>
                                <span>Reports</span>
                            </a>
                        </li>

                        <li class="{{activeRouteClass  'users'}}">
                            <a href="/users">
                                <i class="fa fa-users"></i>
                                <span>Users</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- / nav -->
            </section>
            <footer class="footer bg-gradient hidden-xs text-center">
                <a href="modal.lockme.html" data-toggle="ajaxModal" class="btn btn-sm btn-link hide">
                    <i class="fa fa-power-off"></i>
                </a>
                <a href="#nav" id="toggle-nav" data-toggle="class:nav-vertical" class="btn btn-sm btn-link">
                    <i class="fa fa-bars"></i>
                </a>
            </footer>
        </section>
    </aside>

</template>