<template name="issuessidebar">
    <!-- .aside -->
    <aside class="aside aside-md bg-dark">
        <section class="vbox">
            <header class="dk header">
                <button class="btn btn-icon btn-default btn-sm  pull-right" data-toggle="dropdown"><i class="fa fa-desktop"></i></button>
                <button class="btn btn-icon btn-default btn-sm pull-right visible-xs m-r-xs" data-toggle="class:show" data-target="#mail-nav"><i class="fa fa-bars"></i></button>
                <p class="h4">{{currentWorkspace.title}}</p>
                <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                    <div class="arrow left"></div>
                    <section class="panel bg-white">
                        <header class="panel-heading">
                            <strong>{{currentWorkspace.title}} workspace</strong>
                        </header>
                        <div class="list-group">
                            {{#each userWorkspaces}}
                            <a href="#" class="media list-group-item">
                                <span class="media-body block m-b-none">{{title}}</span>
                            </a>
                            {{/each}}
                        </div>
                        <footer class="panel-footer text-sm">
                            <div class="pull-right"><a href="#workspaceNew" class="btn btn-sm btn-info" id="workspace-new"><i class="fa fa-css3"></i> New workspace</a></div>
                        <div class="clearfix"></div>
                        </footer>
                    </section>
                </section>

            </header>
            <section>
                <section>
                    <section id="mail-nav" class="hidden-xs">
                        <ul class="nav nav-pills nav-stacked no-radius">
                            <li>
                                <a href="#">
                                    <span class="badge pull-right">15</span>
                                    <i class="fa fa-fw fa-inbox"></i>
                                    Inbox
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <i class="fa fa-fw fa-envelope-o"></i>
                                    Sent mail
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="badge badge-hollow pull-right">4</span>
                                    <i class="fa fa-fw fa-bookmark-o"></i>
                                    Important
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-fw fa-pencil"></i>
                                    Draft
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="badge badge-hollow pull-right">3</span>
                                    <i class="fa fa-fw fa-star-o"></i>
                                    Spam
                                </a>
                            </li>
                        </ul>

                        <ul class="nav nav-pills nav-stacked no-radius m-t-sm">
                            <li class="padder dk text-sm l-h-2x">
                                <p>Projects
                                    <i class="fa fa-circle text-danger pull-right m-t-xs project-new"></i>
                                </p>
                            </li>

                     {{#each projects}}
                                {{>projectBar}}
                            {{/each}}
                        </ul>


                        <ul class="nav nav-pills nav-stacked no-radius m-t-sm">
                            <li class="padder dk text-sm l-h-2x">
                                <p>Categories</p>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle text-danger pull-right m-t-xs"></i>
                                    Develop
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle pull-right m-t-xs"></i>
                                    Verstka
                                </a>
                            </li>
                            <li>
                                <a href="#" >
                                    <i class="fa fa-circle text-success pull-right m-t-xs"></i>
                                    Design
                                </a>
                            </li>

                        </ul>

                    </section>
                </section>
            </section>
            <footer class="dk footer text-center">
                <button class="btn btn-sm btn-info" data-toggle="class:layout-box" data-target="html">Toggle box layout</button>
            </footer>
        </section>
    </aside>
    <!-- /.aside -->
{{>workspaceDialogNew}}

</template>


<template name="workspaceDialogNew">

    <div style="display:none" id="workspaceDialogNew">
        <label>Название <input type="text" id="WorkspaceNewTitle" name="WorkspaceNewTitle"/></label>

        <div id="WorkspaceNewCategories">
            <label>Добавить категорию <input type="text" id="workspaceNewCategoryInput" value=""/></label>

            <ul>
                {{#each newCategories}}
                <li><a href="">{{title}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>

</template>

        <template name="projectBar">
            <li class="project-row" id="{{_id}}">

                <div> <label class="checkbox-custom">
                    <input type="checkbox" name="checkboxB"> <i class="fa fa-square-o"></i> {{title}} </label>

                    <a class="project-dropdown" href="#" data-toggle="dropdown"> <i class="fa fa-circle pull-right m-t-xs" style="color:{{color}}"></i></a>

                    <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                        <div class="arrow left"></div>
                        <section class="panel bg-white">
                            <header class="panel-heading">
                                <a href="#" class="project-name-edit" data-type="text"  data-title="Enter project name">{{title}}</a>
                            </header>
                            <div class="list-group">
                                <div class="colorpalette"></div>
                            </div>
                            <footer class="panel-footer text-sm">
                                <div class="pull-right"><a href="#projectNew" class="btn btn-sm btn-info project-new" ><i class="fa fa-css3"></i> New Project</a></div>
                                <div class="clearfix"></div>
                            </footer>
                        </section>
                    </section>
                </div>

            </li>
        </template>