<template name="issuessidebar">
    <!-- .aside -->
    <aside class="aside aside-md bg-dark">
        <section class="vbox">
            <header class="dk header">
                <button class="btn btn-icon btn-default btn-sm  pull-right dropdown-toggle" data-toggle="dropdown"><i class="fa fa-desktop"></i></button>
                <button class="btn btn-icon btn-default btn-sm pull-right visible-xs m-r-xs" data-toggle="class:show" data-target="#mail-nav"><i class="fa fa-bars"></i></button>
                <p class="h4">{{currentWorkspace.title}}</p>
                <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                    <div class="arrow left"></div>
                    <section class="panel bg-white">
                        <header class="panel-heading">
                            <strong>Workspace menu</strong>
                        </header>
                        <div class="list-group">
                            <a href="#" class="media list-group-item">
                      <span class="pull-left thumb-sm">
                        <img src="images/avatar.jpg" alt="John said" class="img-circle">
                      </span>
                      <span class="media-body block m-b-none">
                        Use awesome animate.css<br>
                        <small class="text-muted">28 Aug 13</small>
                      </span>
                            </a>
                            <a href="#" class="media list-group-item">
                      <span class="media-body block m-b-none">
                        1.0 initial released<br>
                        <small class="text-muted">27 Aug 13</small>
                      </span>
                            </a>
                        </div>
                        <footer class="panel-footer text-sm">
                            <a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
                            <a href="#">Add new workspace</a>
                        </footer>
                    </section>
                </section>

            </header>
            <section>
                <section>
                    <section id="mail-nav" class="hidden-xs">
                        <ul class="nav nav-pills nav-stacked no-radius">
                            <li>
                                <a href="#">
                                    <span class="badge pull-right">15</span>
                                    <i class="fa fa-fw fa-inbox"></i>
                                    Inbox
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <i class="fa fa-fw fa-envelope-o"></i>
                                    Sent mail
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="badge badge-hollow pull-right">4</span>
                                    <i class="fa fa-fw fa-bookmark-o"></i>
                                    Important
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-fw fa-pencil"></i>
                                    Draft
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="badge badge-hollow pull-right">3</span>
                                    <i class="fa fa-fw fa-star-o"></i>
                                    Spam
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-pills nav-stacked no-radius m-t-sm">
                            <li class="padder dk text-sm l-h-2x">
                                <p>Labels</p>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle text-danger pull-right m-t-xs"></i>
                                    Work
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle pull-right m-t-xs"></i>
                                    Private
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle text-success pull-right m-t-xs"></i>
                                    Clients
                                </a>
                            </li>
                        </ul>
                    </section>
                </section>
            </section>
            <footer class="dk footer text-center">
                <button class="btn btn-sm btn-info" data-toggle="class:layout-box" data-target="html">Toggle box layout</button>
            </footer>
        </section>
    </aside>
    <!-- /.aside -->


</template>


<template name="workspaceDialogNew">

    <div id="workspaceDialogNew">
        <label>Название <input type="text" id="WorkspaceNewTitle" name="WorkspaceNewTitle"/></label>

        <div id="WorkspaceNewCategories">
            <label>Добавить категорию <input type="text" id="workspaceNewCategoryInput" value=""/></label>

            <ul>
                {{#each newCategories}}
                <li><a href="">{{title}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>

</template>