<template name="leftsidebar2">
    <div class="col-lg-2 col-sm-2 content-col">
        <div id="sidebar">
            <div class="row">
                <div class="col-lg-12 col-sm-12">

                    <div id="workspaceMenu">
                        <div class="dropdown"><a data-toggle="dropdown" href="#"><span>{{currentWorkspace.title}}</span>
                            <span class="glyphicon glyphicon-cog"></span></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                {{#each userWorkspaces}}
                                <li><a href="">{{title}}</a></li>
                                {{/each}}


                                <li>
                                    <div>
                                        <button id="workspaceNew" type="button" class="btn btn-default">New</button>
                                    </div>
                                </li>
                            </ul>


                        </div>


                    </div>

                    <div>
                        <ul>
                            {{#each categories}}
                            <li><a href="">{{title}}</a></li>
                            {{/each}}
                        </ul>

                    </div>
                </div>
            </div>

        </div>

    </div>
    {{>workspaceDialogNew}}
</template>


<template name="workspaceDialogNew2">

    <div id="workspaceDialogNew">
        <label>Название <input type="text" id="WorkspaceNewTitle" name="WorkspaceNewTitle"/></label>

        <div id="WorkspaceNewCategories">
            <label>Добавить категорию <input type="text" id="workspaceNewCategoryInput" value=""/></label>

            <ul>
                {{#each newCategories}}
                <li><a href="">{{title}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>

</template>
