body {overflow: hidden;}

.aside-md  .dropdown-menu {
    margin-left: -1px;
    width: 300px;
    top: -8px;
}

.aside-md li.padder .dropdown-menu {
    margin-left: 14px;
    width: 300px;
    top: -14px;
}

.aside-md  .arrow.left {
    top: 22px;
}

.bg-dark .nav-stacked > li + li {
    margin-top: 0px;
}
.bg-dark .nav li.filter-row > div {

    position: relative;
    display: block;
    padding: 4px 15px 4px 30px;
    cursor: pointer;

    color: #a7afbd;
}
.nav li > div label.checkbox-custom {
    font-weight: normal;
    cursor: pointer;
}

.bg-dark .nav li > div:hover {
    background-color: #414957;
}


.bg-dark .nav li.user-filter-row > div {
    padding: 3px 15px 3px 35px;
}

.nav li > div * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav li .radio-custom > i:before, .checkbox-custom > i:before {
    font-size: 1.000em;
}

.colorpalette {
    width: 225px;
    padding-left: 12px;
    padding-right: 0px;
}

/**
Issue list
**/

.list-group .list-group-item {
    border-right: 5px #fff solid;
}