<template name="tasksList">
    <aside class="bg-light lter">
        <section class="vbox">
            <header class="bg-light dker header clearfix">
                <div class="btn-group pull-right">
                    <div class="m-b-sm">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-sm btn-white">
                                <input type="radio" name="options" id="option1"><i class="fa fa-trello"></i>
                            </label>
                            <label class="btn btn-sm btn-white">
                                <input type="radio" name="options" id="option2"><i class="fa fa-columns"></i>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="btn-toolbar">
                    <div class="btn-group select">
                        <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">
                            <span class="dropdown-label" style="width: 65px;">Filter</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu text-left text-sm">
                            <li><a href="#">Read</a></li>
                            <li><a href="#">Unread</a></li>
                            <li><a href="#">Starred</a></li>
                            <li><a href="#">Unstarred</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-sm btn-white" data-toggle="tooltip" data-placement="bottom"
                                data-title="Refresh"><i
                                class="fa fa-refresh"></i></button>
                    </div>
                </div>
            </header>
            <section class="scrollable">
                <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-alt list-group-lg sortable">
                    {{#each tasksListAll}}
                    {{>taskListItem}}
                    {{/each}}
                </ul>
            </section>
            {{#constant}}
            <footer class="footer b-t bg-white-only">
                <form class="m-t-sm">
                    <div class="input-group">
                        <input id="new-simple-task" type="text" class="input-sm form-control input-s-sm"
                               placeholder="Add new task">

                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-success"><i class="fa fa-ticket"></i></button>
                        </div>
                    </div>
                </form>
            </footer>
            {{/constant}}
        </section>
    </aside>


</template>


<template name="taskListItem">

    <li class="list-group-item {{isActive}}" style="border-right-color: {{categoryColor}};" id="{{_id}}">
        <a href="#" class="thumb-xs pull-left m-r-sm">
            <img src="/images/avatar_default.jpg" class="img-circle">
        </a>
        <a href="#" class="clear">
            <strong>Drew Wllon</strong> <span class="label label-sm bg-primary text-uc">work</span>
            <span>{{subject}} </span>
            <small class="pull-right">{{createdAt}}</small>
        </a>
    </li>
</template>