<template name="groupBar">
    <ul class="nav nav-pills nav-stacked no-radius m-t-sm">
        <li class="padder dk text-sm l-h-2x">
            <div>
                Assigned to
                <a href="#" class="project-dropdown group-new" data-toggle="dropdown"><i
                        class="fa fa-plus-square-o pull-right m-t-xs"></i></a>
                {{>newGroupDropdown}}

            </div>
        </li>

        {{#each groups}}
        {{>groupBarRow}}
        {{/each}}
    </ul>

</template>


<template name="groupBarRow">
    <li class="filter-row group-filter-row" id="{{_id}}">
        <div>
            <label class="checkbox-custom">
                <input type="checkbox" name="checkboxM"> <i class="fa fa-square-o"></i> <span class="group-row-title">{{title}}</span>
            </label>
            <a class="group-edit" href="#" data-toggle="dropdown"> <i
                    class="fa fa-circle pull-right m-t-xs"
                    ></i></a>
            {{>groupEditDropdown}}

        </div>
    </li>

    {{#each users}}
    <li class="filter-row user-filter-row" id="{{_id}}">
        <div>
            <label class="checkbox-custom">
                <input type="checkbox" name="checkboxM"> <i class="fa fa-square-o"></i> <span class="group-row-title">{{userName}}</span>
            </label>
            <a class="  member-edit" href="#" data-toggle="dropdown" data-target="#">
                <img class="thumb-xs pull-right  img-circle" src="{{avatar}}" >
            </a>
        </div>
    </li>
    {{/each}}

</template>


<template name="newGroupDropdown">

    <section id="newGroupDropdown" class="dropdown-menu m-l-sm pull-left animated fadeInRight">
        <div class="arrow left"></div>
        <section class="panel bg-white">
            <header class="panel-heading">
                Add group to workspace
            </header>
            <div class="list-group">
                <div class="list-group-item form-group">

                    <div class="col-sm-12"><input id="new-group-name" type="text" class="form-control"
                                                  placeholder="Group name"></div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <footer class="panel-footer text-sm">
                <div class="pull-right"><a href="#addGroup"
                                           class="btn btn-sm btn-success group-add">
                    <i class="fa"></i> Add Group</a></div>
                <div class="clearfix"></div>
            </footer>
        </section>
    </section>
</template>



<template name="groupEditDropdown">

    <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
        <div class="arrow left"></div>
        <section class="panel bg-white">
            <header class="panel-heading">
            Add user to group
            </header>
            <div class="list-group">
                <div class="list-group-item form-group">

                    <div class="col-sm-12">
                        <div class="m-b">
                            <select id="members-group-select" style="width:260px">
                              {{#each notUsers}}
                               <option value="{{_id}}">{{userName}}</option>
                                {{/each}}
                            </select>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <footer class="panel-footer text-sm">
                <div class="pull-right"><a href="#addUserToGroup"
                                           class="btn btn-sm btn-success user-group-add">
                    <i class="fa"></i> Add User to group</a></div>
                <div class="clearfix"></div>
            </footer>
        </section>
    </section>
</template>