<template name="focus">
<div class="col-lg-2 col-sm-2 content-col">
    <div id="sidebar">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                {{loginButtons}}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-sm-12">
                {{> sidebarTags}}
            </div>
        </div>

    </div>

</div>
<div class="col-lg-5 col-sm-5 content-col"  id="center">


    <div id="header">
        <h2>Philips</h2>
        <div id="project_description"></div>
    </div>

    {{> issuesToolbar}}




    <div id="grid">



        {{> issuesList}}


    </div>

</div>

<div class="col-lg-5 col-sm-5 content-col" id="detail">
    {{> issueDetail}}
</div>
</template>