<template name="landing">

<!-- header -->
<header id="header" class="navbar navbar-fixed-top bg-white" data-spy="affix" data-offset-top="1">
    <div class="container">
        <a class="navbar-brand" href="#">Kvazar</a>

        <p class="navbar-text pull-left text-muted hidden-xs hidden-sm">
            <small class="text-muted text-sm"><em>built whit Meteor</em></small>
        </p>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav navbar-right">
                <li class="hide">
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#history">Предыстория</a>
                </li>
                <li>
                    <a href="#features">Описание процессов</a>
                </li>
                <li>
                    <a href="#ideas">Принципы и идеи</a>
                </li>

                <li>
                    <a href="#roadmap">Roadmap</a>
                </li>


                <li>
                    <a href="#demo">Демо</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- / header -->
<section id="content">
<div>
    <div class="text-center wrapper-lg">
        <h4 class="font-thin">Быстро, удобно, современно</h4>

        <h1 class=" text-uc font-thin">Next generation <strong class="font-bold text-success">project management
            app</strong></h1>
    </div>
    <div class="carousel carousel-fade slide auto  bg-black dker" id="c-slide">
        <ol class="carousel-indicators">
            <li data-target="#c-slide" data-slide-to="0" class="active"></li>
            <li data-target="#c-slide" data-slide-to="1" class=""></li>
            <li data-target="#c-slide" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active row">
                <div class="col-xs-6 text-right">
                    <img src="images/macpro.png" class="animated fadeInDownBig m-r-lg">
                </div>
                <div class="col-xs-6">
                    <h2 class="animated fadeInUp"><strong class="text-white">100%</strong> <span class="font-thin">открытый и бесплатный</span>
                    </h2>

                    <p class="animated fadeInDown hidden-xs">
                        <strong>Создан на базе Meteor js</strong> <strong></strong>
                    </p>
                </div>
            </div>
            <div class="item  row">
                <div class="col-xs-6 text-right">
                    <img src="images/iphone.png" class="animated fadeInUpBig m-r-lg">
                </div>
                <div class="col-sm-6">
                    <h2 class="animated fadeInUp"><strong class="text-white">100</strong> <span class="h3">%</span> <br><span
                            class="font-thin">быстрый и простой</span></h2>

                    <p class="hidden-xs animated fadeInRight">
                        <!--     <a href="index.html" target="_blank" class="btn btn-lg btn-info btn-rounded btn-s-lg">Live preview</a>-->
                    </p>
                </div>
            </div>
            <div class="item row">
                <div class="col-xs-5 text-right">
                    <h2 class="animated fadeInLeftBig"><strong class="text-white">100%</strong> <span class="font-thin">удобный интерфейс</span>
                    </h2>

                    <p class="animated fadeInUpBig hidden-xs">
                        Управление всеми вашими задачами в одном месте. <br>С любого устройства.
                    </p>
                </div>
                <div class="col-xs-7">
                    <img src="images/ipad.png" class="animated fadeInRightBig">
                </div>
            </div>

        </div>
        <a class="left carousel-control" href="#c-slide" data-slide="prev">
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="right carousel-control" href="#c-slide" data-slide="next">
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
    <div class="bg-light dker">
        <div class="container wrapper">
            <div class="m-t-lg m-b-lg text-center">
                Присоединяйся прямо сейчас:
                <a href="https://github.com/AristosGroup/kvazar" target="_blank"
                   class="btn btn-lg btn-github m-r-sm m-l-sm m-b-sm m-t-sm"><i class="fa fa-github"></i> Github</a>
                <a href="https://twitter.com/AkAristos" target="_blank"
                   class="btn btn-lg btn-twitter m-r-sm m-l-sm m-b-sm m-t-sm">Twitter <i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>
<div id="history">
    <div class="container">
        <div class="m-xl text-center wrapper">
            <h2>Предыстория</h2>

            <div>

                <p>
                    Я давно занимаюсь разработкой веб-проектов и управлением командой разработчиков.<br/>
                    Ежедневно сталкиваюсь с десятками, если не сотнями задач, которые касаются как основной работы, так
                    и
                    личной жизни.<br/>
                    Задачи поступают всеми возможными способами: почта, скайп, чат, телефон, устно и иногда даже
                    голубиной
                    почтой =)<br/>
                    Ежедневно общаюсь с десятками контрагентов: команда разработки, партнеры, коллеги, клиенты.</p>

                <p>
                    Управлять всеми этими запросами очень не простое дело, а запомнить все это совершенно не
                    возможно.</p>
                Я уверен, что такая ситуация существует у очень большого кол-ва людей, совершенно разных
                профессий.<br/><br/>
                Для управления задачами, существует множество готовых решений.
                Как бесплатных, открытых, так и платных, закрытых сервисов.
                Все эти системы решает примерно одну задачу, но разными путями.<br/>
                Часть из них можно квалифицировать как простые todo-листы.
                В большинстве своем, такие сервисы удобны в работе, быстры, но имеют очень ограниченный функционал,
                который
                не позволяет полноценно управлять всеми задачами.<br/>
                Примеры: wunderlist, asana, any.do и др.
                <br/><br/>

                <img src="/images/asana.png"/>
                <br/><br/>
                Другие системы, пытаются быть максимально универсальными, имеют на борту большое кол-во различного
                функционала из коробки или в виде расширений.<br/>
                На мой взгляд в большинстве своем, их объединяет одна проблема - они слишком сложны, перегружены и
                медленные.<br/>
                Для выполнения какого либо действия, приходится тратить очень много времени: заполнять десятки полей в
                формах, переходить по множеству пунктов меню и ссылок.<br/>
                Примеры: redmine, jira.<br/><br/>
                <img src="/images/redmine.png"/>

                <br/><br/>
                Есть и очень хорошие системы, на мой взгляд:<br/>
                youtrack, pivotaltracker, targetprocess и некоторые другие.<br/>

                Но все они: платные, закрытые, в них нет возможности полноценно настроить систему под себя.
                <br/><br/>

                Я уже несколько лет в голове держу идею о разработке собственной системы управления задачами.<br/>
                Уделил большое кол-во времени проектированию и анализу, но долгое время не мог приступить к реализации.
                Основных 2 причины: нехватка времени, недостаток подходящих инструментов.<br/>
                2ой вопрос решился, после того как в свет вышел замечательный движок <a
                    href="http://meteor.com"><strong>Meteor</strong></a>,
                который как нельзя лучше подходит для решения подобных задач.<br/>
                А проблема нехватки времени, как раз таки должен частично решиться с помощью системы, которую я создаю
                =)<br/><br/>

                В данный момент, система разрабатывается одним человеком, в свободное от основной работы время. <br/>
                <br/><br/>
                <strong>Основная цель на первых этапах разработки - создать удобный инструмент для собственных нужд,
                    подходящий под
                    те бизнес-процессы, которые сложились в нашей компании и под те процессы, которые я считаю будут
                    оптимальными. </strong> <br/><br/>
                Но даже на первых этапах разработки, я пытаюсь сделать систему гибкой, в надежде что она в будущем будем
                иметь успех во многих командах и у многих людей. <br/><br/>
                Ну и те процессы, которые разрабатываются в первой версии, я думаю что вполне подходят для очень
                большого
                кол-ва людей. <br/><br/>
                По этой причине я с первых дней разработки, пытаюсь привлечь сообщество к проекту.

                <br/><br/> <br/><br/>
                Хватит лирики - приступим к делу.

                <h3>Знакомьтесь, KVAZAR</h3>
            </div>
        </div>

    </div>
</div>


<div id="ideas" class="bg-light">
    <div class="container">
        <div class="m-xl text-center wrapper">
            <h2>Идеи и принципы</h2>
            <!--  <p class="text-muted">Lightweight with rich components</p>-->
        </div>
        <div class="row bg-info">
            <div class="col-sm-4 wrapper-xl lter" data-ride="animated" data-animation="fadeInLeft">
                <p class="text-center">
              <span class="fa fa-stack fa fa-2x">
                <i class="fa fa-circle fa fa-stack-base text-white"></i>
                <i class="fa fa-tasks text-info"></i>
              </span>
                </p>

                <div>
                    <h3 class="text-center">Управление всеми задачами в одном месте</h3>

                    <p>
                        Управляете ли вы десятком людей и тысячами задач, хотите планировать ваши личные дела на
                        ближайшее время или строить планы на годы вперед.
                        А может просто хотите составлять список покупок или поставить себе напоминания забрать ребенка
                        из сада?<br/>
                        Kvazar создан для того, что бы планировать все ваши задачи и дела в одном месте.</p>
                </div>
            </div>
            <div class="col-sm-4 wrapper-xl" data-ride="animated" data-animation="fadeInUp" data-delay="250">
                <p class="text-center">
              <span class="fa fa-stack fa fa-2x">
                <i class="fa fa-circle fa fa-stack-base text-white"></i>
                <i class="fa fa-bolt text-info"></i>
              </span>
                </p>

                <div>
                    <h3 class="text-center">Просто и быстро</h3>

                    <p>
                        Любое действие занимает минимальное кол-во времени, а также быть интуитивно понятным.<br/>
                        Отклик от системы моментальный, вам больше не придеться ждать по несколько секунд загрузку
                        страницы.<br/>
                        Необходимо добавить новую задачу - введите заголовок и готово! Больше никаких страшных форм с
                        десятками полей.<br/>
                    </p>
                </div>
            </div>
            <div class="col-sm-4 wrapper-xl dker" data-ride="animated" data-animation="fadeInRight" data-delay="500">
                <p class="text-center">
              <span class="fa fa-stack fa fa-2x">
                <i class="fa fa-circle fa fa-stack-base text-white"></i>
                <i class="fa fa-desktop text-info"></i>
              </span>
                </p>

                <div>
                    <h3 class="text-center">Работа на одном экране</h3>

                    <p>
                        Нет необходимости переходить по множеству ссылок.<br/>
                        Вся необходимая вам информация находится на одном экране, на котором также можно произвести
                        основные действия в один клик.<br/>
                        Любое изменение данных в системе, в тот же момент отобразится у вас на экране. Забудьте про
                        кнопку "обновить страницу"!
                        <br/><br/><br/><br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 wrapper-xl dk" data-ride="animated" data-animation="fadeInRight" data-delay="500">
                <p class="text-center">
              <span class="fa fa-stack fa fa-2x">
                <i class="fa fa-circle fa fa-stack-base text-white"></i>
                <i class="fa fa-columns text-info"></i>
              </span>
                </p>

                <div>
                    <h3 class="text-center">Большие возможности</h3>

                    <p>
                        В Kvazar есть множество инструментов для работы с вашими задачами.<br/>
                        Управление человеческими ресурсами,
                        Багтрекер,
                        Roadmaps,
                        Итерационное планирование,
                        Напоминания,
                        Календари, таймлайны, диаграммы Ганта,
                        Система отчетов и анализа,
                        Поддержка Agile software development,
                        Автоматический расчет времени окончания работы над задачей, расчет вероятности завершения задачи
                        в срок, график успеваемости вашей команды и мн. др.
                        <br/><br/><br/>
                    </p>
                </div>
            </div>
            <div class="col-sm-4 wrapper-xl" data-ride="animated" data-animation="fadeInDown" data-delay="750">
                <p class="text-center">
              <span class="fa fa-stack fa fa-2x">
                <i class="fa fa-circle fa fa-stack-base text-white"></i>
                <i class="fa fa-clock-o text-info"></i>
              </span>
                </p>

                <div>
                    <h3 class="text-center">Гибкие напоминания</h3>

                    <p>
                        Вам будет приходить только самые важные напоминания.<br/>
                        Вы сами отредактировали задачу, зачем вам об этом лишний раз сообщать, правильно?!
                        Кто-то добавил задачу в избранное - тоже наверное вам не интересно, но напомнить вам о срочном
                        деле, об окончании срока дидлайна, о новых поступивших задачах с пометкой "срочно" - важно!<br/>
                        И это Kvazar делает всегда вовремя, быстро и эффективно.</p>
                </div>
            </div>
            <div class="col-sm-4 wrapper-xl dker" data-ride="animated" data-animation="fadeInLeft" data-delay="1000">
                <p class="text-center"><span class="fa fa-stack fa fa-2x">
                <i class="fa fa-circle fa fa-stack-base text-white"></i>
                <i class="fa fa-thumbs-up text-info"></i>
              </span>
                </p>

                <div>
                    <h3 class="text-center">Идеален для разработчиков</h3>

                    <p>
                        Наличие API для сторонних приложений<br/>
                        Проект всегда останется 100% открытым<br/>
                        Мобильное приложение. Плагины для браузеров и тд<br/>
                        Интеграция с сервисами. Dropbox, Google drive, google calendar и тд<br/>
                        Наличие документации для пользователей и разработчиков.
                        <br/><br/><br/><br/><br/><br/>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="features" class="bg-white">
    <div class="container">
        <div class="m-xl text-center wrapper">
            <h2>Описание процессов</h2>

            <p class="text-muted">Coming soon...</p>
        </div>

    </div>

</div>

<div id="roadmap" class="bg-white clearfix">
    <div class="m-xl text-center wrapper">
        <h2>Roadmap</h2>

        <p>Coming soon..</p>
    </div>
    <div class="container m-xl">
        <div class="col-sm-4">
            <section class="panel text-center" data-ride="animated" data-animation="fadeInLeftBig">
                <header class="panel-heading bg-light lter">
                    <h3 class="m-t-sm">First preview</h3>

                    <p>Основные функции для работы и демонстрации</p>
                </header>
                <ul class="list-group">
                    <li class="list-group-item text-center bg-light lt">
                        <span class="text-danger font-bold h1">1 april 2014</span>
                    </li>
                    <li class="list-group-item">
                        Dashboard
                    </li>
                    <li class="list-group-item">

                    </li>
                    <li class="list-group-item">

                    </li>
                    <li class="list-group-item">

                    </li>
                    <li class="list-group-item">

                    </li>
                </ul>
                <footer class="panel-footer">
                    <!--   <a href="#" class="btn btn-info"></a>-->
                </footer>
            </section>
        </div>
        <div class="col-sm-4">
            <section class="panel text-center m-t-n" data-ride="animated" data-animation="fadeInDown" data-delay="400">
                <header class="panel-heading bg-success no-border">
                    <h3 class="m-t-sm">First release</h3>

                    <p>первая рабочая версия </p>
                </header>
                <ul class="list-group">
                    <li class="list-group-item text-center bg-light lt">
                        <div class="padder-v">
                            <span class="text-danger font-bold h1">неизвестно</span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        roadmaps
                    </li>
                    <li class="list-group-item">
                        reports
                    </li>
                    <li class="list-group-item">

                    </li>
                    <li class="list-group-item">

                    </li>
                    <li class="list-group-item">

                    </li>
                </ul>
                <footer class="panel-footer">
                    <!--<a href="#" class="btn btn-info"></a>-->
                </footer>
            </section>
        </div>
        <div class="col-sm-4">
            <section class="panel text-center" data-ride="animated" data-animation="fadeInRightBig" data-delay="200">
                <header class="panel-heading bg-light lter">
                    <h3 class="m-t-sm">After first release</h3>

                    <p></p>
                </header>
                <ul class="list-group">
                    <li class="list-group-item text-center bg-light lt">
                        <span class="text-danger font-bold h1">неизвестно</span>
                    </li>
                    <li class="list-group-item">
                        напоминания
                    </li>
                    <li class="list-group-item">

                    </li>
                    <li class="list-group-item">

                    </li>
                    <li class="list-group-item">

                    </li>
                    <li class="list-group-item">

                    </li>
                </ul>
                <footer class="panel-footer">
                    <!-- <a href="#" class="btn btn-info"></a>-->
                </footer>
            </section>
        </div>
    </div>
</div>


<div id="demo" class="bg-white b-t b-b clearfix">
    <div class="container text-center m-xl" data-ride="animated" data-animation="fadeIn">
        <h2>Demo</h2>

        <p>Coming soon...</p>
        <!--        <form class="form-inline m-xl">
                    <div class="form-group">
                        <input class="form-control input-lg" placeholder="Your email">
                    </div>
                    <button type="submit" class="btn btn-white btn-lg">Subscribe</button>
                </form>-->
    </div>
</div>


<div id="comments" class="bg-light b-t b-b clearfix">
    <div class="container  m-xl">
        <h2>Comments</h2>

        <div class="row">
            <!-- .comment-list -->
            <section class="comment-list block">


                <!-- / .comment-reply -->


                {{#each comments}}
                <article id="comment-id-{{_id}}" class="comment-item">
                    <a class="pull-left thumb-sm avatar"><img src="{{avatar}}" class="img-circle"></a>
                    <span class="arrow left"></span>
                    <section class="comment-body panel">
                        <header class="panel-heading">
                            <a href="#">{{userName}}</a>
                            <label class="label bg-success m-l-xs">Guest</label>
                        <span class="text-muted m-l-sm pull-right">
                          <i class="fa fa-clock-o"></i>
                          {{createdAtfromNow}}
                        </span>
                        </header>
                        <div class="panel-body">
                            <div>{{message}}</div>

                        </div>
                    </section>
                </article>
                {{/each}}

                {{>testCommentForm}}

            </section>
        </div>
        <!-- / .comment-list -->
    </div>
</div>

</section>
<div class="bg-white">
    <div class="container wrapper">
        <div class="m-t-lg m-b-lg text-center">
            Присоединяйся прямо сейчас:
            <a href="https://github.com/AristosGroup/kvazar" target="_blank"
               class="btn btn-lg btn-github m-r-sm m-l-sm m-b-sm m-t-sm"><i class="fa fa-github"></i> Github</a>
            <a href="https://twitter.com/AkAristos" target="_blank"
               class="btn btn-lg btn-twitter m-r-sm m-l-sm m-b-sm m-t-sm">Twitter <i class="fa fa-twitter"></i></a>
        </div>
    </div>
</div>


</template>


<template name="testCommentForm">
    <!-- comment form -->
    <article class="comment-item media">
        <a class="pull-left thumb-sm avatar"><img src="images/avatar_default.jpg" class="img-circle"></a>
        <section class="media-body">
            {{#autoForm schema=TestCommentsForm id="testCommentForm"}}
            <div class="input-group">
                <!--  <input id="testCommentEmail" style="width: 30%" type="text" class="form-control" placeholder="Input your email here">
                  <input id="testCommentText" style="width: 68%; margin-left: 20px" type="text" class="form-control" placeholder="Input your comment here">-->

                {{afFieldInput 'email' placeholder="Input your email here"}}
                {{afFieldInput 'message' placeholder="Input your comment here"}}
                          <span class="input-group-btn">
                            <button id="submitTestCommentForm" class="btn btn-primary insert" type="submit">Submit
                            </button>
                          </span>

                {{#if afFieldIsInvalid 'message'}}
                <span class="help-block">{{afFieldMessage 'message'}}</span>
                {{/if}}

                {{#if afFieldIsInvalid 'email'}}
                <span class="help-block">{{afFieldMessage 'email'}}</span>
                {{/if}}
            </div>
            {{/autoForm}}
        </section>
    </article>
</template>
