<template name="issueDetail111">
    {{#with currentIssue}}
    <div id="detail_header">

        <div class="btn-group  btn-group-flat">
            <button type="button" class="btn btn-default btn-customer">

                {{#if assignedTo}}
                {{user_avatar user=assignedTo avatarSize=20}}
                {{assignedTo.username}}
                {{else}}
                <span class="glyphicon glyphicon-user"></span>
                Unassigned
                {{/if}}

            </button>
            <button type="button" class="btn btn-default btn-due-date"><span class="glyphicon glyphicon-calendar"></span> Due date</button>
            <button type="button" class="btn btn-default btn-subtask"><span class="glyphicon glyphicon-tasks"></span></button>
            <button type="button" class="btn btn-default btn-tags"><span class="glyphicon glyphicon-tags"></span></button>
            <button type="button" class="btn btn-default btn-attachments"><span class="glyphicon glyphicon-paperclip"></span></button>
            <button type="button" class="btn btn-default btn-share"><span class="glyphicon glyphicon-heart"></span></button>
            <button type="button" class="btn btn-default btn-time"><span class="glyphicon glyphicon-time"></span></button>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle btn-more" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>

            <button type="button" class="btn btn-default pull-right" aria-hidden="true" {{action close bubbles=false}}><span class="glyphicon glyphicon-remove"></span></button>
        </div>

        <div id="detail_projects">

        </div>

    </div>
    {{subject}}  {{statusObj.title}}
    <div class="row"> <div class="col-lg-12 col-sm-12">
        <div class="preview">
            {{#markdown}}{{{markdown_data}}}{{/markdown}}
        </div>

        <textarea rows="10" cols="80" class="description" name="description">{{description}}</textarea>

    </div></div>

    <div class="row">
        <div class="col-lg-12 col-sm-12">

<input class="tags" type="text" value="{{tagsString}}" />

        </div>
    </div>



    <div class="row">
        <div class="col-lg-12 col-sm-12">


        </div>
    </div>

    <div><button>✓</button></div>

    {{/with}}
</template>