<template name="categoryBar">

    <ul class="nav nav-pills nav-stacked no-radius m-t-sm">
        <li class="padder dk text-sm l-h-2x">
            <p>Categories
                <a href="" class="category-new"><i
                        class="fa fa-plus-square-o pull-right m-t-xs"></i></a>
            </p>
        </li>

        {{#each categories}}
        {{>categoryBarRow}}
        {{/each}}
    </ul>
</template>

<template name="categoryBarRow">
    <li class="filter-row" id="{{_id}}">

        <div><label class="checkbox-custom">
            <input type="checkbox" name="checkboxC"> <i class="fa fa-square-o"></i> <span class="category-row-title">{{title}}</span>
        </label>
            <a class="filter-edit" href="#" data-toggle="dropdown" data-target="#"> <i
                    class="fa fa-circle pull-right m-t-xs"
                    style="color:{{color}}"></i></a></div>

    </li>
</template>


