<template name="editingFilter">
    <section id="editingFilter" class="dropdown-menu m-l-sm pull-left animated fadeInRight">
        <div class="arrow left"></div>
        <section class="panel bg-white">
            <header class="panel-heading">
                <a href="#" class="filter-name-edit" data-type="text"
                   data-title="Enter {{filterName}} name">{{title}}</a>
            </header>
            <div class="list-group">
                <div class="colorpalette"></div>
            </div>
            <footer class="panel-footer text-sm">
                <div class="pull-right"><a href="#remove{{filterName}}" class="btn btn-sm btn-danger filter-remove"><i
                        class="fa"></i> Remove {{filterName}}</a></div>
                <div class="clearfix"></div>
            </footer>
        </section>
    </section>
</template>