<template name="projectBar">
    <ul class="nav nav-pills nav-stacked no-radius m-t-sm">
        <li class="padder dk text-sm l-h-2x">
            <p>Projects
                <a href="#" class="project-new"><i class="fa fa-plus-square-o pull-right m-t-xs"></i></a>
            </p>
        </li>

        {{#each projects}}
        {{>projectBarRow}}
        {{/each}}
    </ul>
</template>


<template name="projectBarRow">
    <li class="filter-row" id="{{_id}}">

        <div><label class="checkbox-custom">
            <input type="checkbox" name="checkboxP"> <i class="fa fa-square-o"></i> <span class="project-row-title">{{title}}</span>
        </label>

            <a class="project-dropdown" href="#" data-toggle="dropdown"> <i class="fa fa-circle pull-right m-t-xs"
                                                                            style="color:{{color}}"></i></a>

            <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                <div class="arrow left"></div>
                <section class="panel bg-white">
                    <header class="panel-heading">
                        <a href="#" class="filter-name-edit" data-type="text"
                           data-title="Enter project name">{{title}}</a>
                    </header>
                    <div class="list-group">
                        <div class="colorpalette"></div>
                    </div>
                    <footer class="panel-footer text-sm">
                        <div class="pull-right"><a href="#removeProject" class="btn btn-sm btn-danger project-remove">
                            <i class="fa"></i> Remove Project</a></div>
                        <div class="clearfix"></div>
                    </footer>
                </section>
            </section>
        </div>

    </li>
</template>
