<template name="issuessidebar">
    <!-- .aside -->
    <aside class="aside aside-md bg-dark">
        <section class="vbox">
            <header class="dk header">
                <button class="btn btn-icon btn-default btn-sm  pull-right" data-toggle="dropdown"><i
                        class="fa fa-desktop"></i></button>
                <button class="btn btn-icon btn-default btn-sm pull-right visible-xs m-r-xs" data-toggle="class:show"
                        data-target="#mail-nav"><i class="fa fa-bars"></i></button>
                <p class="h4">{{currentWorkspace.title}}</p>
                <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                    <div class="arrow left"></div>
                    <section class="panel bg-white">
                        <header class="panel-heading">
                            <strong>{{currentWorkspace.title}} workspace</strong>
                        </header>
                        <div class="list-group">
                            {{#each userWorkspaces}}
                            <a href="#" class="media list-group-item">
                                <span class="media-body block m-b-none">{{title}}</span>
                            </a>
                            {{/each}}
                        </div>
                        <footer class="panel-footer text-sm">
                            <div class="pull-right"><a href="#workspaceNew" class="btn btn-sm btn-info"
                                                       id="workspace-new"><i class="fa fa-css3"></i> New workspace</a>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                    </section>
                </section>

            </header>
            <section>
                <section>
                    <section id="mail-nav" class="hidden-xs">
                        <ul class="nav nav-pills nav-stacked no-radius">
                            <li>
                                <a href="#">
                                    <span class="badge pull-right">15</span>
                                    <i class="fa fa-fw fa-inbox"></i>
                                    Inbox
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    <i class="fa fa-fw fa-envelope-o"></i>
                                    Sent mail
                                </a>
                            </li>
                        </ul>

                        <ul class="nav nav-pills nav-stacked no-radius m-t-sm">
                            <li class="padder dk text-sm l-h-2x">
                                <p>Projects
                                    <a href="" class="project-new"><i class="fa fa-plus-square-o pull-right m-t-xs"></i></a>
                                </p>
                            </li>

                            {{#each projects}}
                            {{>projectBar}}
                            {{/each}}
                        </ul>


                        <ul class="nav nav-pills nav-stacked no-radius m-t-sm">
                            <li class="padder dk text-sm l-h-2x">
                                <p>Categories
                                    <a href="" class="category-new"><i
                                            class="fa fa-plus-square-o pull-right m-t-xs"></i></a>
                                </p>
                            </li>

                            {{#each categories}}
                            {{>categoryBar}}
                            {{/each}}
                        </ul>


                        <ul class="nav nav-pills nav-stacked no-radius m-t-sm">
                            <li class="padder dk text-sm l-h-2x">
                                <p>

                                <div>Members
                                    <a href="#" data-toggle="dropdown" class="member-new"><i
                                            class="fa fa-plus-square-o pull-right m-t-xs"></i></a>

                                    <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                                        <div class="arrow left"></div>
                                        <section class="panel bg-white">
                                            <header class="panel-heading">
                                                Add member to workspace
                                            </header>
                                            <div class="list-group">
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Select2</label>

                                                    <div class="col-sm-10">
                                                        <div class="m-b">
                                                            <select id="members-workspace-select">
                                                                {{#each notMembers}}
                                                                {{>memberSelectOption}}
                                                                {{/each}}
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <input type="hidden" id="select2-tags" style="width:260px"
                                                                   value="brown"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <footer class="panel-footer text-sm">

                                            </footer>
                                        </section>
                                    </section>

                                </div>
                                </p>
                            </li>

                            {{#each groups}}
                            {{>groupBar}}
                            {{/each}}
                        </ul>


                    </section>
                </section>
            </section>
            <footer class="dk footer text-center">
                <button class="btn btn-sm btn-info" data-toggle="class:layout-box" data-target="html">Toggle box
                    layout
                </button>
            </footer>
        </section>
    </aside>
    <!-- /.aside -->


</template>


<template name="projectBar">
    <li class="filter-row" id="{{_id}}">

        <div><label class="checkbox-custom">
            <input type="checkbox" name="checkboxP"> <i class="fa fa-square-o"></i> <span class="project-row-title">{{title}}</span>
        </label>

            <a class="project-dropdown" href="#" data-toggle="dropdown"> <i class="fa fa-circle pull-right m-t-xs"
                                                                            style="color:{{color}}"></i></a>

            <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                <div class="arrow left"></div>
                <section class="panel bg-white">
                    <header class="panel-heading">
                        <a href="#" class="filter-name-edit" data-type="text"
                           data-title="Enter project name">{{title}}</a>
                    </header>
                    <div class="list-group">
                        <div class="colorpalette"></div>
                    </div>
                    <footer class="panel-footer text-sm">
                        <div class="pull-right"><a href="#removeProject" class="btn btn-sm btn-danger project-remove"><i
                                class="fa"></i> Remove Project</a></div>
                        <div class="clearfix"></div>
                    </footer>
                </section>
            </section>
        </div>

    </li>
</template>


<template name="categoryBar">
    <li class="filter-row" id="{{_id}}">

        <div><label class="checkbox-custom">
            <input type="checkbox" name="checkboxC"> <i class="fa fa-square-o"></i> <span class="category-row-title">{{title}}</span>
        </label>

            <a class="category-dropdown" href="#" data-toggle="dropdown"> <i class="fa fa-circle pull-right m-t-xs"
                                                                             style="color:{{color}}"></i></a>

            <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                <div class="arrow left"></div>
                <section class="panel bg-white">
                    <header class="panel-heading">
                        <a href="#" class="filter-name-edit" data-type="text"
                           data-title="Enter category name">{{title}}</a>
                    </header>
                    <div class="list-group">
                        <div class="colorpalette"></div>
                    </div>
                    <footer class="panel-footer text-sm">
                        <div class="pull-right"><a href="#removeCategory" class="btn btn-sm btn-danger category-remove"><i
                                class="fa"></i> Remove Category</a></div>
                        <div class="clearfix"></div>
                    </footer>
                </section>
            </section>
        </div>

    </li>
</template>


<template name="groupBar">
    <li class="filter-row" id="{{_id}}">
        <div>
            <label class="checkbox-custom">
                <input type="checkbox" name="checkboxM"> <i class="fa fa-square-o"></i> <span class="group-row-title">{{title}}</span>
            </label>

            <section class="dropdown-menu m-l-sm pull-left animated fadeInRight">
                <div class="arrow left"></div>
                <section class="panel bg-white">
                    <header class="panel-heading">
                        {{user_name}}
                    </header>
                    <div class="list-group">

                    </div>
                    <footer class="panel-footer text-sm">
                        <div class="pull-right"><a href="#removeMember" class="btn btn-sm btn-danger member-remove"><i
                                class="fa"></i> Remove {{user_name}} from workspace</a></div>
                        <div class="clearfix"></div>
                    </footer>
                </section>
            </section>

        </div>
    </li>

</template>

        <template name="memberSelectOption">
            <option value="{{_id}}">dfg{{user_name}}</option>
        </template>