<template name="issuesList">
<aside class="bg-light lter">
<section class="vbox">
<header class="bg-light dker header clearfix">
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-sm btn-white"><i class="fa fa-chevron-left"></i></button>
        <button type="button" class="btn btn-sm btn-white"><i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="btn-toolbar">
        <div class="btn-group select">
            <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">
                <span class="dropdown-label" style="width: 65px;">Filter</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu text-left text-sm">
                <li><a href="#">Read</a></li>
                <li><a href="#">Unread</a></li>
                <li><a href="#">Starred</a></li>
                <li><a href="#">Unstarred</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm btn-white" data-toggle="tooltip" data-placement="bottom" data-title="Refresh"><i class="fa fa-refresh"></i></button>
        </div>
    </div>
</header>
<section class="scrollable">
<ul class="list-group no-radius m-b-none m-t-n-xxs list-group-alt list-group-lg">
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar_default.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">3 minuts ago</small>
        <strong>Drew Wllon</strong> <span class="label label-sm bg-primary text-uc">work</span>
        <span>Wellcome and play this web application template ... </span>
    </a>
</li>
<li class="list-group-item animated bounceInLeft" href="#email-content" data-toggle="class:show">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">1 hour ago</small>
        <strong>Jonathan George</strong>
        <span>Morbi nec nunc condimentum...<span class="text-danger">click me</span></span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">2 hours ago</small>
        <strong>Josh Long</strong>
        <span>Vestibulum ullamcorper sodales nisi nec...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar_default.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">1 day ago</small>
        <strong>Jack Dorsty</strong>
        <span>Morbi nec nunc condimentum...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">3 days ago</small>
        <strong>Morgen Kntooh</strong>
        <span>Mobile first web app for startup...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar_default.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">Jun 21</small>
        <strong>Yoha Omish</strong> <span class="label label-sm bg-danger text-uc">private</span>
        <span>Morbi nec nunc condimentum...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">May 10</small>
        <strong>Gole Lido</strong>
        <span>Vestibulum ullamcorper sodales nisi nec...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar_default.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">Jan 2</small>
        <strong>Jonthan Snow</strong> <span class="label label-sm bg-success text-uc">clients</span>
        <span>Morbi nec nunc condimentum...</span>
    </a>
</li>
<li class="list-group-item" href="#email-content" data-toggle="class:show">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar_default.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">3 minuts ago</small>
        <strong>Drew Wllon</strong> <span class="label label-sm bg-primary text-uc">work</span>
        <span>Vestibulum ullamcorper sodales nisi nec sodales nisi nec sodales nisi nec...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">1 hour ago</small>
        <strong>Jonathan George</strong>
        <span>Morbi nec nunc condimentum...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">2 hours ago</small>
        <strong>Josh Long</strong>
        <span>Vestibulum ullamcorper sodales nisi nec...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar_default.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">1 day ago</small>
        <strong>Jack Dorsty</strong>
        <span>Morbi nec nunc condimentum...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">3 days ago</small>
        <strong>Morgen Kntooh</strong>
        <span>Mobile first web app for startup...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar_default.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">Jun 21</small>
        <strong>Yoha Omish</strong> <span class="label label-sm bg-danger text-uc">private</span>
        <span>Morbi nec nunc condimentum...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">May 10</small>
        <strong>Gole Lido</strong>
        <span>Vestibulum ullamcorper sodales nisi nec...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar_default.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">Jan 2</small>
        <strong>Jonthan Snow</strong> <span class="label label-sm bg-success text-uc">clients</span>
        <span>Morbi nec nunc condimentum...</span>
    </a>
</li>
<li class="list-group-item" href="#email-content" data-toggle="class:show">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar_default.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">3 minuts ago</small>
        <strong>Drew Wllon</strong> <span class="label label-sm bg-primary text-uc">work</span>
        <span>Vestibulum ullamcorper sodales nisi nec sodales nisi nec sodales nisi nec...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">1 hour ago</small>
        <strong>Jonathan George</strong>
        <span>Morbi nec nunc condimentum...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">2 hours ago</small>
        <strong>Josh Long</strong>
        <span>Vestibulum ullamcorper sodales nisi nec...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar_default.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">1 day ago</small>
        <strong>Jack Dorsty</strong>
        <span>Morbi nec nunc condimentum...</span>
    </a>
</li>
<li class="list-group-item">
    <a href="#" class="thumb-xs pull-left m-r-sm">
        <img src="images/avatar.jpg" class="img-circle">
    </a>
    <a href="#" class="clear">
        <small class="pull-right">3 days ago</small>
        <strong>Morgen Kntooh</strong>
        <span>Mobile first web app for startup...</span>
    </a>
</li>
</ul>
</section>
<footer class="footer b-t bg-white-only">
    <form class="m-t-sm">
        <div class="input-group">
            <input type="text" class="input-sm form-control input-s-sm" placeholder="Search">
            <div class="input-group-btn">
                <button class="btn btn-sm btn-white"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>
</footer>
</section>
</aside>



</template>