<template name="issuesToolbar">
    <div id="toolbar">
        <div class="btn-group  btn-group-flat btn-group-sm">
            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default dropdown-toggle btn-more" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span> Sort</button>
                <ul class="dropdown-menu">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>

            <div class="btn-group btn-group-sm">
                <button type="button" class="btn btn-default dropdown-toggle btn-more" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span> Filter</button>
                <ul class="dropdown-menu">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                </ul>
            </div>

            <button type="button" class="btn btn-default new">New</button>
        </div>
    </div>
</template>